<meta charset="utf-8">
<title><%= PAGE_DATA.name %> | <%= SITE_DATA.name %></title>
<meta content="IE=edge" http-equiv="X-UA-Compatible">
<meta content="<%= SITE_DATA.description %>" name="description">
<meta content="width=device-width,initial-scale=1" name="viewport">
<link href="https://s-ishizaki.sakura.ne.jp/sample/01/" rel="canonical">
<link href="<%= SITE_DATA.favicon %>" rel="shortcut icon" type="image/x-icon">
<link href="<%= SITE_DATA.appleIcon %>" rel="apple-touch-icon" type="image/png">
<meta content="ja_JP" property="og:locale">
<meta content="<%= PAGE_DATA.name %> | <%= SITE_DATA.name %>" property="og:title">
<meta content="article" property="og:type">
<meta content="<%= SITE_DATA.url %>" property="og:url">
<meta content="<%= SITE_DATA.name %>" property="og:site_name">
<meta content="<%= SITE_DATA.ogImg %>" property="og:image">
<meta content="<%= SITE_DATA.description %>" property="og:description">
